# Ignore everything
*

# Allow these directories
!Xenium/
!Xenium/analysis/
!LA-ICP-MS/
!LA-ICP-MS/analysis/

# Allow their contents
!Xenium/analysis/**
!LA-ICP-MS/analysis/**

# Allow only code / notebooks
!*.py
!*.ipynb
!*.R
!*.qmd
!*.md
!*.html
!*.sh
!*.yaml
!*.yml

# Repo metadata
!.gitignore
!README.md

# Explicit ignore
report.html